# Dart related
*.lock
*.log
*.pyc
*.swp

# Flutter related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
**/doc/api/
**/generated_plugin_registrant.dart

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# IDE and Editor
.idea/
.vscode/
*.iml
*.ipr
*.iws

# macOS, Linux, Windows
**/macos/Flutter/ephemeral
**/linux/flutter/generated_*
**/windows/flutter/generated_*

# Android
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/flutter_assets/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/app.zip
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/**/Pods/
**/ios/**/xcuserdata

# Coverage
coverage/
